main{
    width: 100%;
    height: 100vh;
    float: left;
    background: wheat;
}
section{
    width: 100%;
    height: 70%;
    background: linear-gradient(90deg, #ffffff, #ebc1ff); }
section img{
    height: 30.7vh;
    border-radius: 10px;
}
h1{
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    width: 80%;
    height: 40vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 10%;
    text-align: center;
    justify-content: center;
}
footer{
    width: 100%;
    height: 30%;
}